html {
  background-color: #36393e
}

a:visited {
  color: rgb(148, 148, 198)
}

#ui, .l-button {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

div, h3, h4 {
  text-align: center;
}

.o-button {
  width: 10rem;
  height: 10rem;
  padding: 1rem;
}